SiteIP.v12.suo
SiteIP/App_Code/Auxiliare.cs
SiteIP/App_Data/Database.mdf
SiteIP/App_Data/Database_log.ldf
SiteIP.v12.suo
SiteIP/App_Code/Auxiliare.cs
SiteIP/App_Data/Database.mdf
SiteIP/App_Data/Database_log.ldf