SiteIP/App_Data/Database_log.ldf
*.ldf
SiteIP.v12.suo
SiteIP.v12.suo
SiteIP.v12.suo
SiteIP.v12.suo
SiteIP.v12.suo
SiteIP.v12.suo
*.suo
*.suo
SiteIP.v12.suo
*.suo
SiteIP.v12.suo
*.suo
SiteIP/register.aspx.cs
SiteIP/register.aspx.cs
SiteIP/Resources/StyleSheet.css
SiteIP/register.aspx.cs
SiteIP/App_Data/Database.mdf
SiteIP/App_Data/Database.mdf
SiteIP.v12.suo
SiteIP/App_Data/Database.mdf
SiteIP/App_Data/Database_log.ldf
SiteIP/App_Code/Auxiliare.cs