body {

}

.header_profil {
    background-color:gray;
    width: 80%;
    height: 70px;
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.iconita_profil {
    float: left;
    padding: 10px;
    margin-left: 10px;
}

.nume_utilizator_profil {
    float: left;
    padding: 25px;
    margin-left: 10px;
    height: 20px;
}

.buton_edit_profil {
    float: right;
    padding: 15px;
    margin-right: 10px;
}

.dropdown_profil {
    width: 70%;
    background-color:gray;
    margin-left: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.buton_adaugare {
    width: 100px;
    height: 30px;
    margin-left: 50%;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facultate {
    width: 70%;
    background-color:gray;
    margin-left: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.label_numefacultate {
    width: 50%;
    text-align:center;
}

.label_localitatefacultate {
    width: 50%;
    text-align:center;
}

.formular_facultate {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 40px;
    padding: 10px;
    border: 1px solid;
}

.nume_facultate_formular {
    width: 50%;
    margin-right: 25%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
}

.localitate_facultate_formular {
    width: 50%;
    margin-right: 25%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
}

.adresa_facultate_formular {
    width: 60%;
    margin-left: 20%;
    height: 50px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    resize:none;
    clear:both;
}

.alte_informatii_formular {
    width: 80%;
    margin-left: 10%;
    height: 100px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    resize:none;
}

.imagine_facultate {
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}