body {
  background-image: url(https://myebony.files.wordpress.com/2011/06/inspiration1.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

table {
    background-color: rgba(102, 135, 221, 0.32);
    border-radius: 15px;
}

table table td {
    font-family: 'Open Sans', sans-serif;
    border-bottom: 2px solid white;
}

table table tr:last-child td {
    border-bottom: none;
}

table td a {
    text-decoration: none;
    color: black;
}

table table tr:hover {
    background: lightblue;
    color: white;
}