.centering_container {
    text-align: center;
    white-space: nowrap;
    height:600px;
}

.centering_container:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

form {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}