.header_profil {
    background-color: rgba(102, 135, 221, 0.32);
    border-radius: 15px;
    display: block;
    width: 400px;
    margin: 0 auto;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.iconita_profil {
    float: left;
    padding: 10px;
    margin-left: 10px;
}

.utilizator_profil {
    float: left;
    padding: 5px;
    margin-left: 10px;
    height: 20px;
}

.buton_edit_profil {
    float: right;
    padding: 15px;
    margin-right: 10px;
}

.item_profil {
    margin: 0 auto;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.buton_adaugare {
    width: 100px;
    height: 30px;
    margin-left: 50%;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facultate {
    width: 70%;
    background-color: rgb(102, 135, 221);
    border-radius: 15px;
    margin-left: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.label_numefacultate {
    width: 50%;
    text-align:center;
}

.label_localitatefacultate {
    width: 50%;
    text-align:center;
}

.camp_profil {
    padding: 5px;
    margin-left: 10px;
    height: 20px;
}

.continut {
    width: 600px;
    padding-top: 10px;
    margin: 0 auto;
    background-color: rgba(102, 135, 221, 0.32);
    border-radius: 15px;
}

input {
   border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 1px solid lightgrey;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
}

.continut .eti {
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}


body {
  background-image: url(https://myebony.files.wordpress.com/2011/06/inspiration1.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

.buton {
    color: white;
    border: 1px solid blue;
    display: block;
    width: 400px;
    margin: 0 auto;

    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 23%, #0075d6 92%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(23%,#2989d8), color-stop(92%,#0075d6), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 23%,#0075d6 92%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7db9e8 0%,#2989d8 23%,#0075d6 92%,#1e5799 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7db9e8 0%,#2989d8 23%,#0075d6 92%,#1e5799 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 23%,#0075d6 92%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

.buton:hover {
    background: #a7d0ef; /* Old browsers */
    background: -moz-linear-gradient(top,  #a7d0ef 0%, #6caee4 23%, #33a3ff 92%, #448ada 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7d0ef), color-stop(23%,#6caee4), color-stop(92%,#33a3ff), color-stop(100%,#448ada)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a7d0ef 0%,#6caee4 23%,#33a3ff 92%,#448ada 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a7d0ef 0%,#6caee4 23%,#33a3ff 92%,#448ada 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a7d0ef 0%,#6caee4 23%,#33a3ff 92%,#448ada 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a7d0ef 0%,#6caee4 23%,#33a3ff 92%,#448ada 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7d0ef', endColorstr='#448ada',GradientType=0 ); /* IE6-9 */
}

.buton:active {
    background: lightblue;
    color: black;
    border: 1px solid white;
}

/* dropdown */

.aux *{
  text-align: center;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.aux {
    display: block;
    width: 560px;
    margin: 0 auto;
}

dropdown label {
    border: 2px solid lightblue;
}

.float-right{
  float: right;
}
.fa{
 font-size: .8em;
  line-height: 22px !important;
}
dropdown{
   display: inline-block;
   width: 100%;
   margin: 20px 50px; 
}
dropdown label, dropdown ul li{
  display: block;
  width: 200px;
  background: #ECF0F1;
  padding: 10px;
}
dropdown label:hover, dropdown ul li:hover{
  background: #1ABC9C;
  color: white;
  cursor: pointer;
}
dropdown label{
  color: #1ABC9C;
  border-left: 4px solid #1ABC9C;
  border-radius: 0 5px 0 0; 
  position: relative;
  z-index: 2;
}
dropdown input{
  display: none;
}
dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
dropdown input:checked + label{
  background: #1ABC9C;
  color: white;
}

dropdown input:checked ~ ul{
  visibility: visible;
  opacity: 1;
  top: 0;
}
$colors: #E74C3C, #0072B5, #2C3E50;

@for $i from 1 through length($colors) {
  dropdown ul li:nth-child(#{$i}) {
    border-left: 4px solid nth($colors, $i);
    .fa{
      color: nth($colors, $i);
    }
    &:hover {
        background: nth($colors, $i);
        color: white;
      .fa{
        color: white; 
      }
    }
  }
}

.animate{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;  
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}

dropdown label {
    
    width: 100%;
}

dropdown ul li {
    width: 100%;
}

dropdown ul {
    padding: 0;
    margin: 0;
}

.aux::before {
    content: ' ';
    background-color: rgba(102, 135, 221, 0.32);
    border-radius: 15px;
    width: 1000px;
}


/* end dropdown */


.continut table {
    padding: 5px;
}
  
